*{
    background: black;
    margin: 0;
    padding: 0;
}
p{
  line-height: 4px;
  font-size: 5px;
  background: url(murad.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
}